In [21]:
# Install required libraries
import pandas as pd

In [22]:
# Read the CSV file into a DataFrame
df = pd.read_csv('output.csv')

# Display the DataFrame
df

,address,square_feet,market_values,sales_prices
0,915 PEDALERS LN,1256.0,"{2023: 398000, 2022: 343000}",{2021: 335000}
1,917 PEDALERS LN,1122.0,"{2023: 375500, 2022: 324000}",{2021: 318000}
2,919 PEDALERS LN,1180.0,"{2023: 385500, 2022: 332500}",{2021: 321000}
3,921 PEDALERS LN,1194.0,"{2023: 411000, 2022: 316000}","{2022: 410000, 2021: 308000}"
4,923 PEDALERS LN,1136.0,"{2023: 378500, 2022: 326500}",{2021: 326000}
...,...,...,...,...
153,1040 SW 16TH ST,1938.0,{},{}
154,1044 SW 16TH ST,1820.0,{2023: 633500},{2022: 632500}
155,1048 SW 16TH ST,2292.0,{},{}
156,1052 SW 16TH ST,752.0,{},{2023: 523500}
157,1060 SW 16TH ST,752.0,{},{}

In [23]:
# Create new columns for 'price/square foot' and 'value change'

# Extract the most recent sales price and market value
df['most_recent_sales_price'] = df['sales_prices'].apply(lambda x: eval(x).get(max(eval(x))) if eval(x) else None)
df['most_recent_market_value'] = df['market_values'].apply(lambda x: eval(x).get(max(eval(x))) if eval(x) else None)

# Calculate price/square foot
df['price/square_foot'] = df['most_recent_sales_price'] / df['square_feet']

# Calculate value change
df['value_change'] = df['most_recent_market_value'] - df['most_recent_sales_price']

# Display the DataFrame
df

,address,square_feet,market_values,sales_prices,most_recent_sales_price,most_recent_market_value,price/square_foot,value_change
0,915 PEDALERS LN,1256.0,"{2023: 398000, 2022: 343000}",{2021: 335000},335000.0,398000.0,266.719745,63000.0
1,917 PEDALERS LN,1122.0,"{2023: 375500, 2022: 324000}",{2021: 318000},318000.0,375500.0,283.422460,57500.0
2,919 PEDALERS LN,1180.0,"{2023: 385500, 2022: 332500}",{2021: 321000},321000.0,385500.0,272.033898,64500.0
3,921 PEDALERS LN,1194.0,"{2023: 411000, 2022: 316000}","{2022: 410000, 2021: 308000}",410000.0,411000.0,343.383585,1000.0
4,923 PEDALERS LN,1136.0,"{2023: 378500, 2022: 326500}",{2021: 326000},326000.0,378500.0,286.971831,52500.0
...,...,...,...,...,...,...,...,...
153,1040 SW 16TH ST,1938.0,{},{},NaN,NaN,NaN,NaN
154,1044 SW 16TH ST,1820.0,{2023: 633500},{2022: 632500},632500.0,633500.0,347.527473,1000.0
155,1048 SW 16TH ST,2292.0,{},{},NaN,NaN,NaN,NaN
156,1052 SW 16TH ST,752.0,{},{2023: 523500},523500.0,NaN,696.143617,NaN
157,1060 SW 16TH ST,752.0,{},{},NaN,NaN,NaN,NaN